[submodule "LabR1"]
	path = LabR1
	url = ../LabR1
[submodule "LabR2"]
	path = LabR2
	url = ../LabR2
[submodule "LabR3"]
	path = LabR3
	url = ../LabR3
[submodule "LabR4"]
	path = LabR4
	url = ../LabR4
[submodule "LabR5"]
	path = LabR5
	url = ../LabR5
